@import "../../common/styles/global-variables.scss";

.first-screen {
  color: $white;

  &__slider-item {
    height: 414px;
    padding-bottom: 60px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 35px;
      top: 105px;
      width: 150px;
      height: 290px;
      background-image: url('/images/lines--red.png');
      background-size: cover;

      @media(min-width: $extra-large) {
        width: 243px;
        height: 469px;
      }
    }

    @media(min-width: $extra-large){
      height: 690px;
    }
  }

  &__slide-number {
    margin-bottom: 30px;
    font-size: 20px;
    transform: translateX(-20px);

    & span:first-child {
      position: relative;
      margin-right: 10px;
      padding-right: 15px;

      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        width: 2px;
        height: 20px;
        background-color: $red-orange;
      }
    }
  }

  &__button.button {
    font-size: 24px;
    font-style: italic;
    color: $red-orange;
    text-transform: initial;

    &::before {
      left: 0;
      height: 45px;
    }
  }
}