@import 'mixins.scss';
@import 'fonts.scss';

  /* Colors */

$black: #000000;
$white: #ffffff;
$red-orange: #ff351b;
$silver-chalice: #ababab;
$dove-gray: #636363;
$alto: #dddddd;
$main-shaft: #2b2828;

  /* Fonts */

$font-family-pt-serif: 'PT Serif', serif;
$font-family-pt-sans: 'PT Sans', sans-serif;

  /* Screen */

$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

  /* Helpers */

$path-to-images: '../../../public/images/';