@import "../../common/styles/global-variables.scss";

.section-questions {
  color: $white;

  &__slider-item {
    padding: 60px 0;
    height: 589px;
  }

  &__title {
    margin-top: 80px;
    width: 462px;
    color: $red-orange;
    font-family: $font-family-pt-sans;
    font-size: 30px;
    line-height: 34px;
  }

  &__text {
    width: 462px;
    font-family: $font-family-pt-sans;
    font-size: 18px;
    line-height: 26px;
  }

  &__button-wrapper {
    width: 462px;
    text-align: right;
  }
}