@import "../../common/styles/global-variables.scss";

.section-two-parts {
  padding: 0;


  &__h2 {
    margin-bottom: 39px;
    @media(min-width: $extra-large) {
      margin-bottom: 64px;
    }
  }

  &__arrow {
    margin-top: 100px;
  }

  &__img {
    width: 183px;
    height: 129px;
    border-radius: 1px;
    @media($extra-large) {
      width: 300px;
      height: 212px;
    }
  }

  &__figcaption {
    margin-top: 13px;
    font-family: $font-family-pt-serif;
    font-style: italic;
    font-size: 11px;
    line-height: 20px;
    @media($extra-large) {
      font-size: 18px;
      line-height: 34px;
    }
  }

  &__title {

    color: $red-orange;
    font-family: $font-family-pt-sans;
    font-size: 18px;
    line-height: 18px;
    @media($extra-large) {
      font-size: 30px;
      line-height: 23px;
    }
  }

  &__text {
    margin-top: 28px;
    font-family: $font-family-pt-serif;
    font-style: italic;
    font-size: 11px;
    line-height: 16px;
    @media($extra-large) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__photo-slider {
    color: $white;
    @media(min-width: $extra-large) {
      padding-right: 50px;
    }
  }

   &__slider-item {
     outline: none !important;
   }

  &__text-slider {
    color: $dove-gray;
    @media(min-width: $medium) {
      padding-left: 64px;
    }
    @media(min-width: $extra-large) {
      padding-left: 101px;
    }
  }

  &__part {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    @media(min-width: $extra-large) {
      padding-top: 60px;
      padding-bottom: 85px;
    }

    &--bg-dove-gray {
      background-color: $dove-gray;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        background-color: $dove-gray;
        width: 1000%;
        height: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        background-color: $dove-gray;
        width: 1000%;
        height: 100%;
      }

      @media(min-width: $medium) {
        &::after {
          display: none;
        }
      }
    }

    &--bg-alto {
      background-color: $alto;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        background-color: $alto;
        width: 1000%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        background-color: $alto;
        width: 1000%;
        height: 100%;
      }

      @media(min-width: $medium) {
        &::before {
          display: none;
        }
      }
    }
  }
}