@import "../../common/styles/global-variables.scss";

.main-menu {
  &__list {
    list-style-type: none;
    display: flex;
  }

  &__link {
    text-transform: uppercase;
    font-family: $font-family-pt-sans;
  }
}