@import "../../common/styles/global-variables.scss";

.search-btn {
  display: block;
  width: 11.5px;
  height: 15px;
  @media(min-width: $large-custom){
    width: 19px;
    height: 19px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    fill: $black;
    stroke: $black;
    transition: .3s;

    &:hover {
      fill: $red-orange;
      stroke: $red-orange;
    }
  }
}