@import "../../common/styles/global-variables.scss";

.section-gerryville {
  padding: 30px 0 0;
  color: $dove-gray;
  @media(min-width: $extra-large) {
    padding: 60px 0 0;
  }

  &__content {
    position: relative;
  }

  &__slide-content:focus {
    outline: none;
    border: none;
  }

  &__slider-list {
    margin-top: 50px;

    .draggable {
      overflow: visible;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 1000%;
        height: 100%;
        background-color: $white;
        z-index: 2;
      }
    }
  }

  &__slider-item {
    transition: .5s;
    outline: none !important;
  }

  &__slider-item:not(.slick-active) {
    opacity: .4;

    .section-gerryville__slide-text {
      display: none;
    }
  }

  &__slide-content {
    position: relative;
    height: 338px;
    @media(min-width: $extra-large) {
      height: 564px;
    }
  }

  &__slide-img {
    margin: auto;
    display: block;
    max-height: 100%;
    @media(min-width: $small) {
      margin: initial;
    }
  }

  &__slide-text {
    position: absolute;
    top: 25px;
    left: 310px;
    white-space: nowrap;
    z-index: 1;
    transition: .5s;
    @media(min-width: $small) {
      left: 145px;
    }
    @media(min-width: $extra-large) {
      top: 50px;
      left: 255px;
    }
  }

  &__arrow {
    position: absolute;
    top: 255px;
    z-index: 2;
  }

  &__arrow-prev {
    left: 0;
    opacity: 1;
    cursor: pointer;
  }

  &__arrow-next {
    right: 0;
  }

  &__slide-title {
    font-size: 10.2px;
    color: $black;
    font-family: $font-family-pt-sans;
    @media(min-width: $extra-large) {
      font-size: 17px;
    }
  }

  &__slide-subtitle {
    margin-top: 5px;
    position: relative;
    display: inline;
    font-size: 6px;
    font-family: $font-family-pt-sans;
    color: $black;
    @media(min-width: $extra-large) {
      font-size: 10px;
    }

    &::before {
      position: absolute;
      bottom: 100%;
      left: 0;
      content: '';
      width: 2px;
      height: 10px;
      background-color: $red-orange;
      transition: .3s;
    }

    &:hover {
      &::before {
        transform: translateY(3px);
      }
    }
  }
}